body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navBar {
    overflow: hidden;
    background-color: #feb321;
}

.navBar ul {
    font-size: 16px;
    display: flex;
    list-style: none;
    height: 10vh;
    width: 80vw;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.anchor {
    font-size: 16px;

    text-decoration: none;
    color: black;
}
.navBar ul li{
    padding: 14px 16px;

}

.navBar ul li:hover {
    background: white;
    color: white;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#mydesc {
    width: 40%;
}

#W {
    width:fit-content;
    margin: 1rem auto;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#S {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#I {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#o {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.mainBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 90vw;
}

@media screen and (min-width: 300px) and (max-width: 992px) {

  
    .mainBox{
        /* background: #000; */
        height: 100vh;
        width: 100vw;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    /* #interest
     {
        height: 60vh;
    }
    #skills
     {
        height: 60vh;
    } */
    

}

.graphics
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 80%;
    width: 20%;

}


@media screen and (min-width: 300px) and (max-width: 992px) {

    .graphics{
        height: 30%;
        width: 60%;
    }
    

}


#sBg{
    background:url("./skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hasibBg{
    background:url("./hasib.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#svBg{
    background:url("./server.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#intbg{
    background:url("./interests.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sBg{
    background:url("./skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#exBg{
    background:url("./money.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#htBg{
    background:url("./hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#fbBg{
    background:url("./social.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description{
    padding-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

@media screen and (min-width: 300px) and (max-width: 992px) {

    .description{
        height: 60%;
        width: 95%;
    }
    

}



.textBox{
    width:70%;
    font-size: 1.2rem;
}

.description a {
    font-size: 1rem;
    padding: 12px;
    background: var(--btnYellow);
    color: #000;
    font-style: italic;
    text-decoration: none;
}
.description a:hover{
    font-size: 0.9rem;

    font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 992px) {

    .textBox{
        font-size: 1rem;
        width:80%;


    }
    

}
.mainHead{
    background:#feb321;
    font-size: 1.4rem;
    padding: 1rem 1.4rem;

}

@media screen and (min-width: 300px) and (max-width: 992px) {
    
    .mainHead{
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
    
    }

}



.flex{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
background: #000;
}
#img {

 height: 17rem;
 width: 10rem;
 /* float: right; */
 margin-right: 150px;


}
/* #interest{
    background: pink;
} */
#bg {
    max-width: 28%;
    float: right;
    margin-top: -190px;
    max-height: 28%;
    margin-right: 50px;
}

#ö {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
}