.formContainer {

    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}

.signIn {
    height: 45vh;
    max-height: max-content;
    width: 80vw;
    flex-direction: row;
}
.signInMem{
    background: #000;
    width: 50%;
}
.formContainer h1 {
    background: #feb321;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 60%;
    text-align: center;
}

.formWrapper{
    background: #000;
}
.form{
    /* margin: 0 auto; */
    /* background: #000; */
    height: 100%;
    width: 40%;

}


.form h4 {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.2rem;
    padding: 0;
}

.input {
    background: none;
    margin: 0;
    border: 2px solid;
    outline: none;
    border-radius: 1rem;
    outline: none;
    width: 60%;
    height: 11%;

}

.hideAnchor{
    pointer-events: none;
}

.input input {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0rem 0.5rem;
    height: 100%;
    outline: none;
}


@media screen and (min-width: 300px) and (max-width: 992px) {

    .formContainer h1 {
        font-size: 1.4rem;
        border-radius: 0.5rem;

    }

    .signIn {

        height: 50vh;
        width: 90vw;
        padding: 12px;




    }

    .form {

        height: 100%;
        width: 100%;

    }

    .form h4 {
        font-size: 1.1rem;
    }

    .input {
        border: 1px solid;
        width: 80%;
        height: 8%;
        border-radius: 5px;


    }

    .input input {

        font-size: 0.7rem;

    }


}


:focus {
    border: none;
    outline: none;
}

.pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pass input {
    /* background: red; */
    width: 90%;
}

.icon {
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    padding-right: 1rem;
}

.fLinks {
    height: 10%;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.fLinks a {
    /* margin:0.6rem 0rem; */
    margin-top: 0.7rem;
    color: black;
}

.buttonWrapper {
    margin: 5%;
    margin-bottom: 5%;
}

.btn:hover {
    font-weight: bold;
}


.forget {
    height: 31vh;
    width: 25vw;
}

.forget .input {
    height: 18%;
}

.btn {
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    background: none;
    border: none;
    outline: none;
    color: #d8b03d;
    border-radius: 5px;
    background: #feb321;
    color: black;
}


#hide {
    color: green;
    margin-top: 12px;
}

#display {
    color: red;
    margin-top: 12px;
}

.hide {
    display: none;
}

h5 {
    padding: 0;
    margin: 0;
}